# Database Configuration
MYSQL_USER=bp_user
MYSQL_PASSWORD=changeme
DB_HOST=db

# Rails Configuration
RAILS_ENV=development
NODE_ENV=development
SECRET_KEY_BASE=your_secret_key_base_here
# Obtenida de ejecutar el script create_admin_user.rb
# Cada vez que se reinicie la base de datos, este valor debe ser actualizado
API_KEY=your_api_key_here

# UI Path Configuration
PUBLIC_UI_URL=http://localhost
PORTAL_BASE_PATH=/teresia-portal
UI_URL=http://localhost
UI_BASE_PATH=/teresia-portal

# API Configuration
# Watch out for the trailing slashes! Keep them as they are here.
API_URL=http://portal-api:9393
EXTERNAL_API_URL=http://localhost/teresia-portal/api
REST_URL_PREFIX=http://portal-api:9393/
RACK_ENV=development
ADMIN_PASSWORD=admin123 # Cambiar en producción
PORTAL_HTTP_PORT=80

# Ruby Configuration
RUBY_VERSION=3.1.6

# Bundle Configuration
BUNDLE_PATH=/srv/ontoportal/bundle
BUNDLE_APP_CONFIG=/srv/ontoportal/bundle
BUNDLE_WITHOUT=production:test
FRONTEND_BUNDLE_PATH=/usr/local/bundle

# Development Configuration
COVERAGE=false
OVERRIDE_CONFIG=false

# Redis Configuration
REDIS_HOST=redis-ut
REDIS_PORT=6379
GOO_REDIS_HOST=redis-ut
REDIS_GOO_CACHE_HOST=redis-ut
REDIS_HTTP_CACHE_HOST=redis-ut
REDIS_PERSISTENT_HOST=redis-ut
ANNOTATOR_REDIS_HOST=redis-ut
ANNOTATOR_REDIS_PORT=6379

# Solr Configuration
SOLR_TERM_SEARCH_URL=http://solr-ut:8983/solr/term_search_core1
SOLR_PROP_SEARCH_URL=http://solr-ut:8983/solr/prop_search_core1

# MGREP Configuration
MGREP_HOST=mgrep-ut
MGREP_PORT=55556

# BioMixer Configuration
BIOMIXER_URL=https://biomixer.bioontology.org

# AllegroGraph Configuration
GOO_BACKEND_NAME=ag
GOO_HOST=agraph-ut
GOO_PORT=10035
GOO_PATH_QUERY=/repositories/ontoportal_test
GOO_PATH_DATA=/repositories/ontoportal_test/statements
GOO_PATH_UPDATE=/repositories/ontoportal_test/statements

# Memcache Configuration
MEMCACHE_SERVERS=cache:11211

# Port Configuration
API_PORT=9393
FRONTEND_PORT=3000
REDIS_PORT_EXTERNAL=6379
AGRAPH_PORT_EXTERNAL=10035
SOLR_PORT_EXTERNAL=8983
MYSQL_PORT_EXTERNAL=3306
MEMCACHE_PORT_EXTERNAL=11211